<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OCP Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css"
          href="webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.css"
       />

 <!---->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" integrity="sha384-VY3F8aCQDLImi4L+tPX4XjtiJwXDwwyXNbkH7SHts0Jlo85t1R15MlXVBKLNx+dj" crossorigin="anonymous">-->


    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<!--<nav class="navbar navbar-inverse">-->
<nav class="navbar navbar-inverse" style="background-color: #5f5f5f;">
    <!-- Navbar content -->

    <div class="container">
        <div class="navbar-header">
            <h2>OCP Overview</h2>
        </div>

    </div>
</nav>

<div class="container">

     <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>

            <th>#</th>
            <th>Namespaces</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="np: ${namespaces}">

            <td><i class="fab fa-docker"></i></td><td th:text="${np}" ></td>


        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Services</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="svc: ${services}">
           <td><i class="fas fa-beer"></i></td><td th:text="${svc}" ></td>

        </tr>
        </tbody>
    </table>




</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>
